@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #000;
  color: #22c55e; /* Tailwind green-400 */
  font-family: monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}
